In [1]:
import pandas as pd

# 3-osni senzor akcelerometra
Podaci od x, y i z osi su u prvom, drugom i trećem stupcu.

In [101]:
acc = pd.read_csv('S1/Final/ACC.csv')
acc.columns = [acc.columns, acc.iloc[0].values]
acc = acc.drop(0)
acc.head()

  1544027337.000000  1544027337.000000  1544027337.000000.1
               32.0               32.0                 32.0
1              -3.0               65.0                  6.0
2              -3.0               65.0                  6.0
3              -3.0               65.0                  6.0
4              -3.0               65.0                  6.0
5              -3.0               65.0                  6.0

In [97]:
acc.shape

(748686, 3)

In [98]:
acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748686 entries, 1 to 748686
Data columns (total 3 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   (1544027337.000000, 32.0)     748686 non-null  float64
 1   ( 1544027337.000000, 32.0)    748686 non-null  float64
 2   ( 1544027337.000000.1, 32.0)  748686 non-null  float64
dtypes: float64(3)
memory usage: 17.1 MB

In [102]:
acc.describe()

      1544027337.000000  1544027337.000000  1544027337.000000.1
                   32.0               32.0                 32.0
count     748686.000000      748686.000000        748686.000000
mean         -15.147696          -2.671894             0.865034
std           33.683219          30.311671            42.862523
min         -128.000000        -128.000000          -128.000000
25%          -42.000000          -9.000000           -32.000000
50%           -7.000000           1.000000            -1.000000
75%            0.000000           6.000000            40.000000
max          127.000000         127.000000           127.000000

# Photoplethysmograph

In [103]:
bvp = pd.read_csv('S1/Final/BVP.csv') 
bvp.columns = [bvp.columns, bvp.iloc[0].values]
bvp = bvp.drop(0)
bvp.head()

  1544027337.00
           64.0
1          -0.0
2          -0.0
3          -0.0
4          -0.0
5          -0.0

In [104]:
bvp.shape

(1497375, 1)

In [105]:
bvp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1497375 entries, 1 to 1497375
Data columns (total 1 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   (1544027337.00, 64.0)  1497375 non-null  float64
dtypes: float64(1)
memory usage: 11.4 MB

In [106]:
bvp.describe()

      1544027337.00
               64.0
count  1.497375e+06
mean   2.804909e-04
std    4.479241e+01
min   -1.631490e+03
25%   -3.470000e+00
50%    2.000000e-02
75%    3.350000e+00
max    2.659680e+03

# Senzor elektrodermalne aktivnosti (mikrosiemens [qS])

In [111]:
eda = pd.read_csv('S1/Final/EDA.csv') 
eda.columns = [eda.columns, eda.iloc[0].values]
eda = eda.drop(0)
eda.head()

  1544027337.000000
                4.0
1          0.000000
2          0.005125
3          0.020501
4          0.021783
5          0.023064

In [112]:
eda.shape

(93582, 1)

In [113]:
eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93582 entries, 1 to 93582
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (1544027337.000000, 4.0)  93582 non-null  float64
dtypes: float64(1)
memory usage: 731.2 KB

In [114]:
eda.describe()

      1544027337.000000
                    4.0
count      93582.000000
mean           0.102925
std            0.083391
min            0.000000
25%            0.025627
50%            0.028189
75%            0.189637
max            0.440778

# Prosječni broj otkucaja srca
Izraženo iz BVP signala.
Prvi red je početno vrijeme mjerenja izraženo kao UNIX vremenska oznaka u UTC-u (05.12.2018. 16:29:07).
Drugi red je brzina uzorkovanja izražena u Hz.

In [115]:
hr = pd.read_csv('S1/Final/HR.csv') 
hr.columns = [hr.columns, hr.iloc[0].values]
hr = hr.drop(0)
hr.head()

  1544027347.000000
                1.0
1            116.00
2             82.50
3             96.33
4             86.25
5             98.60

In [116]:
hr.shape

(23387, 1)

In [117]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23387 entries, 1 to 23387
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (1544027347.000000, 1.0)  23387 non-null  float64
dtypes: float64(1)
memory usage: 182.8 KB

In [118]:
hr.describe()

      1544027347.000000
                    1.0
count      23387.000000
mean         106.121509
std           18.716789
min           62.280000
25%           91.170000
50%          108.280000
75%          118.550000
max          174.850000

# Vrijeme između pojedinačnih otkucaja srca
Izraženo iz BVP signala.
Prvi stupac je vrijeme (u odnosu na početno vrijeme) otkrivenog međuotkucajnog intervala izraženo u sekundama (s).
Drugi stupac udaljenost u sekundama od prethodnog otkucaja.

In [120]:
ibi = pd.read_csv('S1/Final/IBI.csv') 
ibi.head()

   1544027337.000000       IBI
0          84.847634  0.468771
1          85.347657  0.500023
2          85.722674  0.375017
3         107.754932  0.437520
4         108.223704  0.468771

In [121]:
ibi.shape

(2168, 2)

In [122]:
ibi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2168 entries, 0 to 2167
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   1544027337.000000  2168 non-null   float64
 1    IBI               2168 non-null   float64
dtypes: float64(2)
memory usage: 34.0 KB

In [123]:
ibi.describe()

       1544027337.000000          IBI
count        2168.000000  2168.000000
mean         6219.270464     0.564407
std          3386.285381     0.080117
min            84.847634     0.328140
25%          3640.049434     0.515649
50%          6319.375203     0.562526
75%          8749.857552     0.609403
max         20794.217468     1.062549

# Temperatura (Celsius [°C])

In [107]:
temp = pd.read_csv('S1/Final/TEMP.csv') 
temp.columns = [temp.columns, temp.iloc[0].values]
temp = temp.drop(0)
temp.head()

  1544027337.000000
                4.0
1             21.89
2             21.89
3             21.89
4             21.89
5             21.89

In [108]:
temp.shape

(93584, 1)

In [109]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93584 entries, 1 to 93584
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (1544027337.000000, 4.0)  93584 non-null  float64
dtypes: float64(1)
memory usage: 731.3 KB

In [110]:
temp.describe()

      1544027337.000000
                    4.0
count      93584.000000
mean          26.184411
std            3.849641
min           17.190000
25%           22.810000
50%           24.110000
75%           29.950000
max           31.210000